################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/BGYPOC.CRM/BGYPOC.CRM.Plugins/bin/Debug
