################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/BGYPOC.CRM.Plugins/bin
/BGYPOC.CRM.Plugins/obj
/BGYPOC.CRM.Plugins/obj/Debug
/BGYPOC.CRM.WebSource/bin
/BGYPOC.CRM.WebSource/obj
/BGYPOC.CRM.WorkflowActivities/bin
/BGYPOC.CRM.WorkflowActivities/obj
/packages
/.vs/BGYPOC.CRM/v15
